    <%- layout("/layouts/boilerplate") %>
    <br><br>
    <div class="row">
        <div class="col-8 offset-2">

    <h1>CREATE THE NEW LISTENING</h1>
    <form method="POST" action="/listings"  class="needs-validation" novalidate enctype="multipart/form-data">
        <div class="div" class="mb-3">
            <label for="title" class="form-label">Title</label>
                <input type="text" name="listing[title]" class="form-control" id="title" placeholder="Enetr a cachy title"  required>
                       <div class="valid-feedback"> Title Looks good! </div>
                       <div class="invalid-feedback">Title is required</div>
        </div >
        <div>
            <label for="description" class="form-label">Description</label>
              <textarea name="listing[description]" class="form-control" id="description" placeholder="enter the description" required></textarea>   <div class="invalid-feedback">Please enter the Description</div>
        </div>
        <!-- <div class="mb-3">
            <label for="image" class="form-label">Image-URL</label>
               <input type="text" name="listing[image]" class="form-control" id="image" placeholder="enter the image url/link">
             
        </div> -->
        <!-- image upload -->
           <div class="mb-3">
            <label for="image" class="form-label">Upload Listing Image</label>
               <input type="file" name="listing[image]" class="form-control" id="image" placeholder="enter the image url/link" required> 
             
        </div>
        <div class="row">
        <div class="mb-3 col-md-4">
           <label for="price" class="form-label">Price</label>
            <input  name="listing[price]" class="form-control" id="price" placeholder="1200" required>
             <div class="invalid-feedback">Please enter the valid Price </div>
        </div>
        <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
                <input type="text" name="listing[country]" class="form-control" id="country" placeholder="INDIA" required>
                 <div class="invalid-feedback">Please enter the country </div>

        </div>
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" name="listing[location]" class="form-control" id="location" placeholder="HYDERABAD" required>
             <div class="invalid-feedback">Please enter the location</div>

        </div>
  <br><br>
  <div class="text-center">
   <button type="submit" class="btn btn-dark text-center">Add</button>
  </div>
     <br><br>
    </form>

</div>
</div>
