<%- layout("/layouts/boilerplate") %>

<div class="row">
    <h1 class="col-6 offset-3 mt-3">Login on Airbnb</h1>
        <div class="col-6 offset-3">

            <form action="/login" method="post"  class="needs-validation" novalidate>
                <div class="div" class="mb-3">
            <label for="username" class="form-label">Username</label>
                <input type="text" name="username" class="form-control" id="username" placeholder="enter the username"  required>
                       <div class="valid-feedback"> Username Looks good! </div>
                       <div class="invalid-feedback">Username is required</div>
        </div >
        <!-- password -->
            <div class="div" class="mb-3">
            <label for="password" class="form-label">Password</label>
                <input type="text" name="password" class="form-control" id="password" placeholder="enter the password"  required>       
        </div >
          <div class="text-center mt-3">
   <button type="submit" class="btn btn-success text-center">Login</button>
  </div>

        



            </form>

         </div>
</div>